
.header
{
    background-color:blue;
    color: bisque;
    padding: 20px;
    font-family: 'Courier New';
    font-size: large;
    text-align: left;
}
.footer
{
    background-color: silver;
    padding: 20px;
    color: cornsilk;
    font-family: 'Courier New';
    margin:0px;
}
.container
{
    background-attachment: fixed;
    background-color: palegoldenrod;
    color: darksalmon;
    padding: 300px;
    text-align: center;
    font-family: courier;
}
.nav
{
    background-color:lightblue;
    color: rgb(10, 10, 10);
    padding: 30px;
    font-style:normal;
    font-family: 'Courier New';
    font-size:large;
    text-align:left;
}
.left col
{
    border-style: solid;
    border-left-style: dashed;
    text-align: left;
}
