
.bord1
{
    border: 1px solid black;
    width:100%;
    height:900px;
    background-color: skyblue;
}
.bord2
{
    border:1px solid blue;
    width:1120px;
    height: 750px;
    background-color: white;
    position: relative;
    left:50px;
}
.body
{
    display: inline-block;
    text-align: center;
}
element.style
{
    position: relative;
    right: 500px;
}
