.header{
    background-color:rgb(10, 1, 1);
    background-position:0;
    color:rgb(244, 235, 235);
    padding: 20px; 
    font-style:normal;
    font-family: 'Courier New';
    font-size:large;
    text-align: center;
    }
    .body{
    background-attachment: fixed; 
    background-color:burlywood ;
    color: rgb(6, 6, 6); 
    padding: 80px;  
    text-align: left;
    font-family: Courier;
    }
    .footer{
     background-color: black;
        padding:20px;
        color:white;
        font-family: courier new;
    }
    .container{
        background-attachment: fixed; 
background-image: url('../PROJECT/ASSETS/WORK.webp');
color: rgb(6, 6, 6); 
padding: 80px;  
text-align: center;
font-family: Courier;
    }
    